[submodule "risk-analysis-frontend"]
	path = risk-analysis-frontend
	url = https://github.com/stakeunlimited/risk-analysis-frontend
[submodule "risk-analysis-backend"]
	path = risk-analysis-backend
	url = https://github.com/stakeunlimited/risk-analysis-backend
[submodule "risk-analysis-volatility"]
	path = risk-analysis-volatility
	url = https://github.com/stakeunlimited/risk-analysis-volatility
